In [211]:
!pip install lightgbm

Collecting lightgbm
  Downloading lightgbm-4.1.0-py3-none-win_amd64.whl (1.3 MB)
     ---------------------------------------- 1.3/1.3 MB 165.3 kB/s eta 0:00:00
Requirement already satisfied: scipy in c:\users\asus\anaconda3\lib\site-packages (from lightgbm) (1.9.1)
Requirement already satisfied: numpy in c:\users\asus\anaconda3\lib\site-packages (from lightgbm) (1.24.2)
Installing collected packages: lightgbm
Successfully installed lightgbm-4.1.0

In [148]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from termcolor import colored

# Print bold and colored text
from IPython.display import HTML

# Create HTML code to display red and bold text
red_bold_text = '<span style="color:red; font-weight:bold;">This is red and bold text</span>'

# Display red and bold text in the notebook cell
HTML(red_bold_text)

In [305]:
df = pd.read_csv('marketing_campaign_data.csv')
# Assume that maximum date is Year 2014

df['Age'] = 2014 - df['Year_Birth']
df['enrolled_day'] = (pd.to_datetime('6/29/2014') - pd.to_datetime(df['Dt_Customer'])).dt.days

df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,2240.0,5592.159821,3246.662198,0.0,2828.25,5458.5,8427.75,11191.0
Year_Birth,2240.0,1968.805804,11.984069,1893.0,1959.00,1970.0,1977.00,1996.0
Income,2216.0,52247.251354,25173.076661,1730.0,35303.00,51381.5,68522.00,666666.0
Kidhome,2240.0,0.444196,0.538398,0.0,0.00,0.0,1.00,2.0
Teenhome,2240.0,0.506250,0.544538,0.0,0.00,0.0,1.00,2.0
Recency,2240.0,49.109375,28.962453,0.0,24.00,49.0,74.00,99.0
MntWines,2240.0,303.935714,336.597393,0.0,23.75,173.5,504.25,1493.0
MntFruits,2240.0,26.302232,39.773434,0.0,1.00,8.0,33.00,199.0
MntMeatProducts,2240.0,166.950000,225.715373,0.0,16.00,67.0,232.00,1725.0
MntFishProducts,2240.0,37.525446,54.628979,0.0,3.00,12.0,50.00,259.0
MntSweetProducts,2240.0,27.062946,41.280498,0.0,1.00,8.0,33.00,263.0
MntGoldProds,2240.0,44.021875,52.167439,0.0,9.00,24.0,56.00,362.0
NumDealsPurchases,2240.0,2.325000,1.932238,0.0,1.00,2.0,3.00,15.0
NumWebPurchases,2240.0,4.084821,2.778714,0.0,2.00,4.0,6.00,27.0
NumCatalogPurchases,2240.0,2.662054,2.923101,0.0,0.00,2.0,4.00,28.0
NumStorePurchases,2240.0,5.790179,3.250958,0.0,3.00,5.0,8.00,13.0
NumWebVisitsMonth,2240.0,5.316518,2.426645,0.0,3.00,6.0,7.00,20.0
AcceptedCmp3,2240.0,0.072768,0.259813,0.0,0.00,0.0,0.00,1.0
AcceptedCmp4,2240.0,0.074554,0.262728,0.0,0.00,0.0,0.00,1.0
AcceptedCmp5,2240.0,0.072768,0.259813,0.0,0.00,0.0,0.00,1.0
AcceptedCmp1,2240.0,0.064286,0.245316,0.0,0.00,0.0,0.00,1.0
AcceptedCmp2,2240.0,0.013393,0.114976,0.0,0.00,0.0,0.00,1.0
Complain,2240.0,0.009375,0.096391,0.0,0.00,0.0,0.00,1.0
Response,2240.0,0.149107,0.356274,0.0,0.00,0.0,0.00,1.0
Age,2240.0,45.194196,11.984069,18.0,37.00,44.0,55.00,121.0
enrolled_day,2240.0,353.582143,202.122512,0.0,180.75,355.5,529.00,699.0

In [6]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
0,5524,1957,Graduation,Single,58138.0,0,0,9/4/2012,58,635,...,10,4,7,0,0,0,0,0,0,1
1,2174,1954,Graduation,Single,46344.0,1,1,3/8/2014,38,11,...,1,2,5,0,0,0,0,0,0,0
2,4141,1965,Graduation,Together,71613.0,0,0,8/21/2013,26,426,...,2,10,4,0,0,0,0,0,0,0
3,6182,1984,Graduation,Together,26646.0,1,0,2/10/2014,26,11,...,0,4,6,0,0,0,0,0,0,0
4,5324,1981,PhD,Married,58293.0,1,0,1/19/2014,94,173,...,3,6,5,0,0,0,0,0,0,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Response             2240 non-null   int64
dtypes: float64(1), int64(23), object(3)
memory usage: 472.6+ KB

# Feature

1. Flag Campaign Acceptance >> รับข้อเสนอแคมเปญที่ n

    - AcceptedCmp1
    - AcceptedCmp2
    - AcceptedCmp3
    - AcceptedCmp4
    - AcceptedCmp5
    - **Response** (Target) 
    
    
2. Demographic Data

    - Education
    - Marital
    - Kidhome
    - Teenhome
    - Income
    
    
3. RFM Data
    
    3.1. Recency
    
        - Recency
        
    3.2. Frequency
   
        - NumDealsPurchases
        - NumCatalogPurchases
        - NumStorePurchases
        - NumWebPurchases
        - NumWebVisitsPurchases
    
    3.3. Monetary
        
        - MntFishProducts
        - MntMeatProducts
        - MntFruits
        - MntSweetProducts
        - MntWines
        - MntGoldProds
        
4. Others

    - Complain
    - DtCustomer

# Create Utility Function

In [132]:
def check_is_number(df, col):
    
    return 'float' in str(df[col].dtypes) or 'int' in str(df[col].dtypes)

def create_summary_table(df, col):
    
    dff = df.copy()
    
    isNum = check_is_number(dff, col)

    if isNum:
        try:
            try:
                dff[f'{col}_bin'] = pd.qcut(dff[col], q = 8)
            except:
                try:
                    dff[f'{col}_bin'] = pd.qcut(dff[col], q = 5)
                except:
                    dff[f'{col}_bin'] = pd.qcut(dff[col], q = 3)
            tmp = dff.groupby([f'{col}_bin'])[['ID']].count().rename(columns = {'ID' : 'Total'})
            tmp_res_0 = dff[dff['Response'] == 0].groupby([f'{col}_bin'])[['ID']].count().rename(columns = {'ID' : '# Response = 0'})
            tmp_res_1 = dff[dff['Response'] == 1].groupby([f'{col}_bin'])[['ID']].count().rename(columns = {'ID' : '# Response = 1'})

            result = pd.merge(tmp, tmp_res_0, how = 'left', on = f'{col}_bin')
            result = pd.merge(result, tmp_res_1, how = 'left', on = f'{col}_bin')
            result['%Total'] = np.round(tmp['Total']/tmp['Total'].sum(), 2)
            result['%Event Rate'] = np.round(result['# Response = 1']/result['Total'], 2)
            
        except:
            dff[f'{col}_bin'] = dff[col]
        
            tmp = dff.groupby([f'{col}_bin'])[['ID']].count().rename(columns = {'ID' : 'Total'})
            tmp_res_0 = dff[dff['Response'] == 0].groupby([f'{col}_bin'])[['ID']].count().rename(columns = {'ID' : '# Response = 0'})
            tmp_res_1 = dff[dff['Response'] == 1].groupby([f'{col}_bin'])[['ID']].count().rename(columns = {'ID' : '# Response = 1'})

            result = pd.merge(tmp, tmp_res_0, how = 'left', on = f'{col}_bin')
            result = pd.merge(result, tmp_res_1, how = 'left', on = f'{col}_bin')
            result['%Total'] = np.round(tmp['Total']/tmp['Total'].sum(), 2)
            result['%Event Rate'] = np.round(result['# Response = 1']/result['Total'], 2)
    
    else:
        dff[f'{col}_bin'] = dff[col]
        
        tmp = dff.groupby([f'{col}_bin'])[['ID']].count().rename(columns = {'ID' : 'Total'})
        tmp_res_0 = dff[dff['Response'] == 0].groupby([f'{col}_bin'])[['ID']].count().rename(columns = {'ID' : '# Response = 0'})
        tmp_res_1 = dff[dff['Response'] == 1].groupby([f'{col}_bin'])[['ID']].count().rename(columns = {'ID' : '# Response = 1'})
        
        result = pd.merge(tmp, tmp_res_0, how = 'left', on = f'{col}_bin')
        result = pd.merge(result, tmp_res_1, how = 'left', on = f'{col}_bin')
        result['%Total'] = np.round(tmp['Total']/tmp['Total'].sum(), 2)
        result['%Event Rate'] = np.round(result['# Response = 1']/result['Total'], 2)
        result = result.sort_values(by = '%Event Rate')
    return result.style.bar(subset = '%Event Rate', color = '#F2DA7A')

create_summary_table(df, 'AcceptedCmp1')

## 1. Campaign Acceptance Data

In [155]:
feature = sorted([i for i in df.columns if i.startswith('Accepted')])
print(feature)
print('==============\n')
for col in feature:
    text = f'<span style="color:red; font-weight:bold;">{col}</span>'
    display(HTML(text))
    display(create_summary_table(df, col))

['AcceptedCmp1', 'AcceptedCmp2', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5']
==============

## 2. Demographic Data

In [161]:
df['Year_Birth']

# Assume that maximum date is Year 2014

df['Age'] = 2014 - df['Year_Birth']
df['Age']

0       57
1       60
2       49
3       30
4       33
        ..
2235    47
2236    68
2237    33
2238    58
2239    60
Name: Age, Length: 2240, dtype: int64

In [174]:
df['Income'] = df['Income'].fillna(-9999999) # Fill na with Special Value

In [175]:
feature = ['Education', 'Marital_Status', 'Kidhome', 'Teenhome', 'Income', 'Age']
print(feature)
print('==============\n')
for col in feature:
    text = f'<span style="color:red; font-weight:bold;">{col}</span>'
    display(HTML(text))
    display(create_summary_table(df, col))

['Education', 'Marital_Status', 'Kidhome', 'Teenhome', 'Income', 'Age']
==============

## 3. RFM Data

In [157]:
feature = [i for i in df.columns if i == 'Recency' or i.startswith('Mnt') or i.startswith('Num')]
print(feature)
print('==============\n')
for col in feature:
    text = f'<span style="color:red; font-weight:bold;">{col}</span>'
    display(HTML(text))
    display(create_summary_table(df, col))
    print('\n')

['Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth']
==============

# 4. Other Data

In [116]:
feature = ['Complain', 'Dt_Customer']
df[feature]

      Complain Dt_Customer
0            0    9/4/2012
1            0    3/8/2014
2            0   8/21/2013
3            0   2/10/2014
4            0   1/19/2014
...        ...         ...
2235         0   6/13/2013
2236         0   6/10/2014
2237         0   1/25/2014
2238         0   1/24/2014
2239         0  10/15/2012

[2240 rows x 2 columns]

We need to calculate how long the customer have been enrolled in our company but..

- We don't know which date is today (Today = Day at launching the latest campaign)

Solution : Assume Max Enroll Date of Customers and add 1 month as **TODAY**

In [120]:
print(pd.to_datetime(df['Dt_Customer']).max())

2014-06-29 00:00:00

- So we assume 6/29/2024 as a TODAY

In [122]:
df['enrolled_day'] = (pd.to_datetime('6/29/2014') - pd.to_datetime(df['Dt_Customer'])).dt.days

0       663
1       113
2       312
3       139
4       161
       ...
2235    381
2236     19
2237    155
2238    156
2239    622
Name: enrolled_day, Length: 2240, dtype: int64

In [158]:
feature = ['Complain', 'enrolled_day']

for col in feature:
    text = f'<span style="color:red; font-weight:bold;">{col}</span>'
    display(HTML(text))
    display(create_summary_table(df, col))

In [284]:
df_cond = df[(df['AcceptedCmp1'] == 1) |
  (df['AcceptedCmp2'] == 1) |
  (df['AcceptedCmp3'] == 1) |
  (df['AcceptedCmp4'] == 1) | 
  (df['AcceptedCmp5'] == 1) |
  (df['Education'].isin(['Master', 'PhD'])) |
  (df['Marital_Status'].isin(['Divorced', 'Single', 'Widow', 'Alone', 'Absurd', 'YOLO'])) |
  (df['Kidhome'] == 0) |
  (df['Teenhome'] == 0) |
  (df['Income'] > 68289.75) |
  (df['Recency'] <= 11) |
  (df['MntWines'] > 504.25) |
  (df['MntFruits'] > 15) |
  (df['MntMeatProducts'] > 431.25) |
  (df['MntFishProducts'] > 20) |
  (df['MntSweetProducts'] > 14) |
  (df['MntGoldProds'] > 15) |
  (df['NumWebPurchases'] > 4) |
  (df['NumCatalogPurchases'] > 3) | 
  (df['NumStorePurchases'] > 4) |
  (df['enrolled_day'] >= 529)]

event_old = round(df[df['Response'] == 1].shape[0]/df.shape[0]*100,2)
event_new = round(df_cond[df_cond['Response'] == 1].shape[0]/df_cond.shape[0]*100, 2)

print(f'Count Old : {df.shape[0]}')
print(f'Count New : {df_cond.shape[0]}')
print('=====================')
print(f'Event Rate Old : {event_old} %')
print(f'Event Rate New : {event_new} %')

Count Old : 2240
Count New : 2193
=====================
Event Rate Old : 14.91 %
Event Rate New : 15.18 %

# Hypothesis testing

In [165]:
cat_cols = ['Education', 'Marital_Status', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', ]
num_cols = ['Income', 'Kidhome',
       'Teenhome', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'enrolled_day', 'Age']
target = 'Response'

In [185]:
from scipy.stats import chi2_contingency, ttest_ind

fts = []
ps = []
# Create a contingency table
for col in num_cols:
    
    group0 = df[df[target] == 0][col]  # Sample data for Group 1
    group1 = df[df[target] == 1][col]  # Sample data for Group 2

    # Perform a two-sample t-test
    t_statistic, p_value = ttest_ind(group0, group1)
    fts.append(col)
    ps.append(p_value)
    
num_result = pd.DataFrame({
    'Feature' : fts,
    'P-value' : np.round(ps,6)
}).sort_values(by = 'P-value')

text = f'<span style="color:red; font-weight:bold;">Numerical Features</span>'
display(HTML(text))
display(num_result)

                Feature   P-value
8      MntSweetProducts  0.000000
2              Teenhome  0.000000
3               Recency  0.000000
4              MntWines  0.000000
5             MntFruits  0.000000
6       MntMeatProducts  0.000000
7       MntFishProducts  0.000000
15         enrolled_day  0.000000
9          MntGoldProds  0.000000
11      NumWebPurchases  0.000000
12  NumCatalogPurchases  0.000000
1               Kidhome  0.000150
13    NumStorePurchases  0.062504
0                Income  0.101682
16                  Age  0.313049
14    NumWebVisitsMonth  0.850425
10    NumDealsPurchases  0.915680

In [186]:
fts = []
ps = []

for col in cat_cols:
    
    contingency_table = pd.crosstab(df[col], df[target])

    # Perform chi-squared test for independence
    chi2, p_value, _, _ = chi2_contingency(contingency_table)
    fts.append(col)
    ps.append(p_value)
    
cat_result = pd.DataFrame({
    'Feature' : fts,
    'P-value' : np.round(ps,6)
}).sort_values(by = 'P-value')

text = f'<span style="color:red; font-weight:bold;">Categorical Features</span>'
display(HTML(text))
display(cat_result)

          Feature   P-value
1  Marital_Status  0.000000
2    AcceptedCmp3  0.000000
3    AcceptedCmp4  0.000000
4    AcceptedCmp5  0.000000
5    AcceptedCmp1  0.000000
6    AcceptedCmp2  0.000000
0       Education  0.000122
7        Complain  1.000000

# ML Model Approach

**Challenge**
- Assume that this campaign will also run onwards recently
- We would try to launch this campaign into the rest of leads 
- But the challenge is we try to optimize budget cost **i.e.** effectively grab only potential leads (dont want to waste money on unaccepting leads)


**Solution**
- Creating classification model using historical data to determine which leads would accurately accept our campaign

In [189]:
feature = num_cols + cat_cols
print(feature)
print(target)

['Income', 'Kidhome', 'Teenhome', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'enrolled_day', 'Age', 'Education', 'Marital_Status', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Complain']
Response

In [212]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import lightgbm as lgb

dff = df.copy()

label_encoders = {}

X_train, X_test, y_train, y_test = train_test_split(df[feature], df[target], test_size = 0.3, random_state = 42)

for col in cat_cols:
    le = LabelEncoder()
    X_train[col] = le.fit_transform(X_train[col])
    X_test[col] = le.transform(X_test[col])

In [213]:
from sklearn.tree import DecisionTreeClassifier

clf = lgb.LGBMClassifier(random_state=42)
clf.fit(X_train, y_train)

y_pred = clf.predict_proba(X_test)[:,1]
y_pred

[LightGBM] [Info] Number of positive: 239, number of negative: 1329
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000229 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1762
[LightGBM] [Info] Number of data points in the train set: 1568, number of used features: 24
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.152423 -> initscore=-1.715719
[LightGBM] [Info] Start training from score -1.715719

array([1.36687134e-02, 6.10266861e-02, 2.62220932e-03, 2.30594795e-01,
       7.43218856e-03, 5.40837685e-04, 5.26515272e-05, 3.94380989e-05,
       2.33439419e-02, 4.92203246e-05, 2.95339988e-02, 2.16318482e-01,
       3.33174448e-02, 5.90107770e-01, 9.96551500e-04, 2.21115531e-03,
       2.13492657e-02, 3.38445876e-01, 6.15491391e-04, 2.39927038e-03,
       9.19219093e-01, 5.14537556e-02, 4.54620347e-02, 9.14743458e-01,
       6.76524700e-03, 3.37423149e-01, 6.91368935e-03, 4.15589088e-01,
       3.78783475e-01, 8.41288457e-04, 4.93771747e-02, 3.65582104e-03,
       4.35096943e-03, 1.55156441e-04, 8.64496925e-01, 1.19303186e-02,
       8.48457520e-01, 3.35794415e-04, 1.44694564e-03, 2.36789623e-03,
       2.52311757e-03, 1.30535441e-03, 7.73031404e-04, 3.51414593e-02,
       6.92895174e-03, 6.07887702e-02, 4.29578503e-03, 2.34945559e-04,
       1.39247839e-01, 1.39901221e-02, 4.80702776e-05, 1.47542742e-02,
       9.63152215e-01, 1.63956994e-02, 1.57592096e-04, 1.35497021e-03,
       7.86503054e-04, 1.76287935e-02, 1.76328342e-03, 5.34836696e-03,
       1.35951107e-02, 2.18346690e-03, 2.16406124e-04, 2.45907211e-01,
       1.26580653e-04, 6.13008701e-01, 2.89061411e-01, 8.59635385e-02,
       1.18196016e-03, 2.58612075e-04, 2.85178779e-02, 9.36636401e-01,
       1.00774051e-02, 1.87351208e-04, 1.16184962e-04, 6.73444735e-01,
       7.13131333e-01, 9.03405407e-01, 3.93526278e-03, 1.42915918e-01,
       3.03132209e-04, 1.23423732e-02, 2.40856062e-01, 9.75223931e-05,
       1.04536794e-02, 3.35005705e-03, 6.44731782e-04, 5.03985163e-03,
       8.86736233e-04, 2.90793170e-04, 3.44540362e-02, 8.85662469e-04,
       5.17571545e-03, 3.25135953e-04, 1.72949316e-03, 1.93666942e-01,
       7.56981073e-03, 1.52120302e-04, 5.88947346e-04, 2.92085655e-02,
       6.19899904e-04, 4.61186385e-04, 4.99067830e-04, 1.03147669e-03,
       4.24860080e-05, 7.88249575e-03, 4.23710292e-03, 2.62154624e-03,
       5.96573134e-02, 4.22424104e-04, 3.38957416e-04, 9.23861329e-02,
       8.69402873e-04, 1.18701527e-03, 7.83247152e-02, 2.48019229e-02,
       1.27390300e-03, 8.91436515e-02, 5.18114576e-03, 9.77089749e-04,
       9.82896009e-01, 2.63766889e-02, 8.00769008e-02, 6.38011597e-05,
       4.65868981e-04, 1.31015368e-04, 5.83688974e-04, 5.74982633e-03,
       1.29529644e-04, 7.32868828e-04, 1.18621529e-03, 2.13069132e-04,
       1.88318062e-02, 8.35745267e-04, 1.61197240e-04, 6.92410267e-02,
       7.48216233e-03, 2.71522480e-04, 5.66691424e-02, 3.30143350e-04,
       5.85567290e-03, 5.54231613e-01, 8.67508159e-04, 1.79733495e-02,
       1.23581616e-01, 7.73623066e-05, 4.56553777e-04, 1.42414151e-02,
       2.03125175e-01, 2.88813490e-04, 1.31766589e-04, 1.04321916e-02,
       3.66589612e-01, 1.86022858e-04, 3.75537191e-02, 1.66263220e-01,
       2.32772439e-03, 6.84266169e-04, 2.23502784e-03, 1.44709589e-01,
       1.32427582e-01, 3.27258502e-04, 9.75019237e-05, 7.04956741e-04,
       1.92079078e-01, 3.52063788e-02, 1.43531833e-03, 1.57726415e-01,
       1.55087805e-01, 3.54464037e-04, 1.12997125e-03, 9.35550487e-02,
       1.50567171e-01, 2.20203137e-02, 1.81679606e-04, 9.89444422e-05,
       9.94622638e-01, 7.61424808e-03, 6.47243485e-01, 2.77392072e-03,
       2.82682426e-04, 1.12494964e-02, 4.16241313e-03, 1.09206937e-01,
       2.55958967e-03, 3.28479592e-03, 3.61216391e-01, 1.19805745e-02,
       2.19016565e-02, 4.46587347e-05, 1.78148060e-03, 1.86570654e-01,
       2.41787576e-02, 2.86594955e-04, 6.19071972e-05, 1.32796913e-02,
       3.21068222e-03, 1.23815238e-04, 3.47398018e-03, 4.13371322e-04,
       3.29565457e-02, 3.70262851e-01, 6.73761271e-04, 1.64669945e-03,
       2.01117822e-03, 1.30588431e-02, 1.01191963e-03, 5.08476760e-02,
       1.44489015e-03, 3.36681235e-03, 3.57290752e-04, 2.31858979e-03,
       1.23366784e-02, 7.33854229e-04, 3.71871576e-01, 2.61038336e-02,
       1.73729702e-03, 1.28235206e-04, 2.42110234e-02, 7.56827912e-04,
       1.86300976e-02, 2.28986703e-04, 1.85537450e-02, 6.79570201e-01,
       1.84678718e-03, 2.48960201e-04, 4.26541664e-03, 9.63678447e-01,
       9.23553047e-01, 1.51006295e-03, 3.54351215e-01, 7.89129872e-03,
       5.70505033e-02, 6.66398468e-02, 1.13617612e-03, 2.23432719e-02,
       4.72949420e-04, 5.86508418e-05, 6.36420480e-04, 1.16791803e-02,
       5.07401274e-05, 3.65167136e-05, 1.56515263e-01, 9.88517987e-01,
       1.10763308e-04, 5.52766215e-03, 1.56115993e-02, 1.47512305e-04,
       8.51184300e-05, 1.83918288e-03, 1.74199875e-03, 9.02390255e-05,
       3.77580605e-04, 1.62336024e-04, 1.59170705e-04, 8.28553164e-05,
       2.57255300e-01, 5.24083229e-01, 1.32026611e-03, 2.66415949e-03,
       4.25090289e-03, 9.76326513e-01, 7.22153332e-04, 1.23197643e-01,
       8.54764611e-01, 4.63010303e-02, 1.41945275e-03, 9.71666346e-01,
       3.32982491e-04, 4.15018382e-02, 2.88909717e-01, 4.98283414e-02,
       3.95896121e-04, 9.18889397e-01, 1.16212276e-03, 4.13031666e-03,
       7.42305934e-03, 6.33430674e-04, 1.04192768e-01, 1.44384986e-02,
       9.33377128e-01, 4.52457721e-04, 1.27652947e-01, 4.09486830e-04,
       5.45786913e-04, 6.04252618e-02, 3.74700585e-05, 1.06402177e-02,
       1.04427885e-02, 2.45146256e-03, 1.14249204e-04, 7.36070912e-04,
       9.25398005e-01, 8.66843340e-02, 1.91153971e-03, 2.31858979e-03,
       2.61826378e-03, 1.06204280e-02, 1.10524844e-04, 1.11083029e-02,
       1.37302679e-04, 7.21225583e-04, 1.01600630e-02, 5.79582378e-01,
       5.02339751e-03, 5.85221068e-01, 4.00611460e-04, 9.48063296e-01,
       1.30224549e-02, 4.97213619e-02, 4.31302070e-03, 2.42335595e-04,
       1.36290490e-03, 2.55099454e-03, 5.74982633e-03, 6.08836502e-03,
       2.75871700e-04, 1.16791803e-02, 1.51409536e-04, 9.61661691e-03,
       2.19098363e-04, 5.56544172e-01, 1.44003575e-04, 3.29865708e-03,
       5.44657617e-04, 7.32035598e-04, 1.17381486e-04, 9.86209110e-01,
       8.25606646e-04, 1.27288638e-01, 1.56914081e-01, 4.39836425e-01,
       4.93800881e-05, 3.47075805e-04, 2.68073594e-04, 6.09620489e-01,
       6.41905937e-04, 5.88037629e-03, 3.24670182e-04, 2.15680357e-01,
       2.03543779e-02, 1.54783657e-04, 2.52572577e-04, 1.50574267e-03,
       9.12016804e-04, 4.03334139e-02, 7.83937174e-05, 1.20712186e-03,
       3.82347064e-01, 1.69673807e-02, 2.89889218e-02, 1.85040728e-03,
       2.02548841e-02, 6.33846417e-04, 4.63828088e-02, 1.18701527e-03,
       2.13659219e-01, 6.12017619e-04, 1.60255183e-03, 8.91436515e-02,
       1.22689468e-03, 5.07894517e-03, 3.72380061e-03, 1.44048834e-03,
       1.31434716e-03, 3.40368584e-01, 1.39972541e-04, 7.61603667e-04,
       3.07772707e-03, 4.05264253e-03, 6.09475286e-05, 2.42853933e-02,
       9.99477624e-03, 4.02358698e-04, 3.59539198e-04, 4.59339656e-04,
       1.68490975e-04, 9.20599737e-01, 3.87158811e-02, 1.17689884e-01,
       5.05515092e-04, 1.16503064e-02, 3.55227336e-04, 5.81749034e-04,
       4.57577073e-04, 1.33425465e-02, 2.91832805e-04, 2.71024261e-01,
       2.04948656e-03, 1.15454466e-03, 3.69171850e-03, 1.40435897e-01,
       7.99024828e-04, 8.13301779e-04, 1.02785804e-01, 6.40448005e-04,
       1.96484109e-02, 2.04144901e-01, 2.75815332e-01, 4.37571010e-02,
       9.79676814e-04, 7.13013200e-04, 6.52982263e-05, 9.76075538e-02,
       2.07414147e-04, 4.69207635e-01, 5.50680702e-05, 9.64474544e-01,
       7.04072942e-02, 4.60942211e-03, 1.45883713e-04, 6.48341893e-01,
       8.11170580e-04, 4.07137290e-04, 5.20336623e-01, 1.73425392e-02,
       4.72934759e-04, 3.03132209e-04, 7.11197972e-03, 1.06542299e-03,
       9.84957325e-03, 2.96713689e-05, 4.23288955e-04, 1.81205446e-01,
       1.50256083e-04, 5.87212027e-03, 1.62980244e-03, 4.49301090e-03,
       1.89233624e-03, 2.80113462e-01, 3.39934742e-02, 7.64879006e-03,
       4.25262077e-04, 6.97428565e-01, 3.76723715e-02, 9.38714089e-01,
       7.01600308e-04, 2.04997907e-03, 1.47526575e-04, 1.01659057e-02,
       1.48262377e-03, 3.53225829e-04, 1.55038596e-01, 1.12705286e-01,
       3.80344583e-04, 7.88606370e-04, 3.65091204e-04, 2.28932708e-04,
       1.68872399e-01, 6.63371308e-04, 5.03158997e-02, 7.33992043e-03,
       1.88035134e-02, 8.97132917e-01, 4.60407106e-02, 4.91288792e-05,
       3.02605958e-02, 1.12343807e-04, 1.80078064e-05, 6.11431810e-02,
       5.57836991e-03, 1.49887434e-04, 4.30022161e-03, 4.16406653e-03,
       9.06263483e-01, 2.08362649e-01, 3.98897854e-03, 5.32247590e-04,
       3.51260159e-01, 5.64966887e-03, 2.07458862e-04, 4.11230911e-04,
       1.85186017e-04, 6.57071496e-04, 1.02716554e-03, 2.21595207e-02,
       5.39340288e-04, 2.46446569e-04, 2.22023077e-02, 3.95525693e-03,
       2.39608180e-02, 1.73792426e-01, 2.36552498e-02, 3.75736613e-04,
       2.61741438e-04, 5.61816765e-04, 3.81920657e-04, 9.97999887e-01,
       6.11156724e-04, 1.87597446e-03, 4.11230911e-04, 1.91291582e-04,
       1.99930798e-03, 1.85035123e-01, 8.64541740e-04, 1.03817463e-03,
       2.99457597e-01, 4.02818558e-01, 5.79957258e-03, 4.68202931e-01,
       6.91627198e-03, 1.38014600e-02, 9.72000230e-01, 7.68542526e-03,
       5.64380593e-02, 4.75983612e-02, 5.59102884e-03, 4.13065128e-03,
       8.88333962e-02, 2.08573229e-01, 8.67508159e-04, 6.29080982e-01,
       2.91510989e-01, 2.96612100e-03, 1.09654656e-03, 4.92992736e-04,
       1.35393401e-03, 6.30412416e-02, 2.86664047e-04, 3.18975166e-04,
       4.67225421e-05, 1.49337216e-04, 9.63553313e-01, 4.93926637e-04,
       5.54210352e-05, 6.91627198e-03, 5.88947346e-04, 6.20267647e-02,
       2.76468619e-01, 4.40468577e-04, 2.49807980e-05, 1.56519387e-03,
       2.50185289e-01, 2.71542966e-03, 9.91418717e-01, 4.08216661e-01,
       3.36228002e-02, 6.09699418e-01, 1.38084443e-04, 4.54567515e-04,
       2.50998800e-02, 3.50639728e-04, 5.38419076e-04, 1.12641726e-01,
       2.44789629e-03, 3.22459904e-03, 1.31823055e-04, 2.35474133e-04,
       2.34184424e-04, 1.32648921e-03, 4.14153355e-02, 3.87155576e-01,
       1.32702702e-03, 6.06104022e-01, 3.02042573e-03, 2.41463580e-03,
       6.23729456e-01, 6.89628182e-02, 8.41226622e-01, 4.86521874e-01,
       1.85264446e-02, 3.01697882e-04, 1.63211132e-02, 5.43094798e-04,
       1.83550413e-03, 4.34122858e-01, 8.89252648e-04, 2.26321277e-04,
       3.41118259e-04, 4.08435087e-02, 1.64328699e-03, 6.75655340e-04,
       9.36976096e-04, 2.90845038e-01, 1.08991418e-04, 6.56893176e-03,
       2.93969110e-01, 8.08611240e-04, 1.25673753e-03, 3.29699280e-01,
       6.16950525e-05, 7.75239480e-05, 4.74531623e-04, 1.89549229e-02,
       2.25785283e-03, 4.42399074e-03, 4.13759636e-04, 2.89436190e-01,
       1.05010772e-04, 2.76724796e-03, 4.33148263e-02, 1.95917822e-03,
       1.97033262e-03, 9.79105129e-04, 2.46515562e-01, 2.54752287e-02,
       2.58899414e-03, 6.35844222e-04, 1.89399214e-04, 8.64424558e-04,
       5.13998691e-03, 1.33801644e-03, 3.61941118e-04, 4.76913099e-04,
       8.04216964e-05, 4.02498708e-05, 1.38515465e-04, 8.67884269e-03,
       1.54389460e-03, 1.14781744e-02, 2.28181736e-04, 6.14664736e-04,
       4.39569706e-03, 8.58756892e-03, 7.02914036e-04, 3.66857508e-05,
       6.33396406e-05, 9.11289579e-03, 1.83413884e-04, 2.81199358e-03,
       1.12015963e-03, 8.61909438e-01, 4.73857148e-03, 3.67959267e-04,
       1.01106102e-04, 8.04216964e-05, 1.67627774e-03, 1.71597559e-04,
       2.71118250e-04, 2.66415949e-03, 7.27664803e-05, 8.33729789e-03,
       8.74846219e-05, 1.53831310e-04, 2.71024261e-01, 4.16241313e-03,
       3.25921431e-03, 4.54978111e-05, 3.19286863e-01, 1.15654972e-04,
       3.60582978e-04, 4.08245325e-01, 1.68026455e-02, 1.39375802e-02,
       3.71871576e-01, 5.24342166e-05, 6.93519221e-03, 8.77744171e-05,
       1.83167511e-02, 4.60787666e-03, 9.77008308e-01, 3.60978890e-04,
       7.97172016e-01, 5.12438282e-05, 1.93659573e-04, 1.81745205e-03,
       1.01616939e-02, 3.94303444e-01, 9.33641664e-01, 8.65380340e-04,
       8.76546050e-05, 1.85537450e-02, 2.00366456e-02, 1.46733844e-04,
       4.73382694e-04, 5.56249643e-04, 3.63090350e-02, 9.14946155e-04,
       1.57614636e-02, 3.67923661e-03, 1.46694522e-03, 6.99801320e-05])

In [223]:
pd.DataFrame({
    'Feature' : feature,
    'Importance' : clf.feature_importances_/clf.feature_importances_.sum()
}).sort_values(by = 'Importance', ascending = False)

                Feature  Importance
6       MntMeatProducts    0.090667
3               Recency    0.088000
15         enrolled_day    0.083667
4              MntWines    0.077000
0                Income    0.069333
9          MntGoldProds    0.064667
16                  Age    0.063000
7       MntFishProducts    0.057000
13    NumStorePurchases    0.049667
8      MntSweetProducts    0.048000
5             MntFruits    0.039667
18       Marital_Status    0.039333
14    NumWebVisitsMonth    0.038000
12  NumCatalogPurchases    0.034000
17            Education    0.027000
10    NumDealsPurchases    0.023667
11      NumWebPurchases    0.022000
19         AcceptedCmp3    0.018333
22         AcceptedCmp1    0.018000
21         AcceptedCmp5    0.014000
2              Teenhome    0.013333
20         AcceptedCmp4    0.010667
1               Kidhome    0.007667
23         AcceptedCmp2    0.003333
24             Complain    0.000000

In [303]:
from sklearn.metrics import roc_auc_score

y_train_prob = clf.predict_proba(X_train)[:,1]
y_test_prob = clf.predict_proba(X_test)[:,1]

tmp1 = pd.DataFrame({
    'type' : 'y_train',
    'predict_prob' : y_train_prob,
    'Response' : y_train
})
tmp2 = pd.DataFrame({
    'type' : 'y_test',
    'predict_prob' : y_test_prob,
    'Response' : y_test
})
tmp = pd.concat([tmp1,tmp2], ignore_index = True)

_, bins = pd.qcut(tmp[tmp['type'] == 'y_train']['predict_prob'], q= 20, retbins = True)
tmp['predict_prob_bin'] = pd.cut(tmp['predict_prob'], bins)

cnt_train = tmp[tmp['type'] == 'y_train'].groupby(['predict_prob_bin'])[['type']].count().rename(columns = {'type' : 'Total'})
cnt_non_accept_train = tmp[(tmp['type'] == 'y_train') & (tmp['Response'] == 0)]\
                        .groupby(['predict_prob_bin'])[['type']].count().rename(columns = {'type' : '#Response = 0'})
cnt_accept_train = tmp[(tmp['type'] == 'y_train') & (tmp['Response'] == 1)]\
                        .groupby(['predict_prob_bin'])[['type']].count().rename(columns = {'type' : '#Response = 1'})

cnt_test = tmp[tmp['type'] == 'y_test'].groupby(['predict_prob_bin'])[['type']].count().rename(columns = {'type' : '(Test) Total'})
cnt_non_accept_test = tmp[(tmp['type'] == 'y_test') & (tmp['Response'] == 0)]\
                        .groupby(['predict_prob_bin'])[['type']].count().rename(columns = {'type' : '(Test) #Response = 0'})
cnt_accept_test = tmp[(tmp['type'] == 'y_test') & (tmp['Response'] == 1)]\
                        .groupby(['predict_prob_bin'])[['type']].count().rename(columns = {'type' : '(Test) #Response = 1'})

result = pd.merge(cnt_train, cnt_non_accept_train, how = 'left', on = 'predict_prob_bin')
result = pd.merge(result, cnt_accept_train, how = 'left', on ='predict_prob_bin')
result['(Train) %Event Rate'] = np.round(result['#Response = 1']/result['Total'],2)
result = pd.merge(result, cnt_test, how = 'left', on = 'predict_prob_bin')
result = pd.merge(result, cnt_non_accept_test, how = 'left', on = 'predict_prob_bin')
result = pd.merge(result, cnt_accept_test, how = 'left', on ='predict_prob_bin')
result['(Test) %Event Rate'] = np.round(result['(Test) #Response = 1']/result['(Test) Total'],2)

def gini_coefficient(y_actual, y_pred_prob):
    """
    Calculate the Gini coefficient given the actual and predicted probability values.
    """
    # Calculate AUC
    auc = roc_auc_score(y_actual, y_pred_prob)
    
    # Calculate Gini coefficient
    gini = 2 * auc - 1
    return gini

gini_train = round(gini_coefficient(y_train, y_train_prob), 3)
gini_test = round(gini_coefficient(y_test, y_test_prob), 3)

print(f'Gini train : {gini_train}')
print(f'Gini test : {gini_test}')
result

Gini train : 1.0
Gini test : 0.737

,Total,#Response = 0,#Response = 1,(Train) %Event Rate,(Test) Total,(Test) #Response = 0,(Test) #Response = 1,(Test) %Event Rate
predict_prob_bin,,,,,,,,
"(2.33e-05, 8.85e-05]",78,78,0,0.00,40,40,0,0.00
"(8.85e-05, 0.000143]",78,78,0,0.00,25,25,0,0.00
"(0.000143, 0.000199]",79,79,0,0.00,27,27,0,0.00
"(0.000199, 0.000302]",78,78,0,0.00,29,29,0,0.00
"(0.000302, 0.00043]",78,78,0,0.00,39,38,1,0.03
"(0.00043, 0.000592]",79,79,0,0.00,30,28,2,0.07
"(0.000592, 0.000812]",78,78,0,0.00,35,34,1,0.03
"(0.000812, 0.00118]",78,78,0,0.00,31,30,1,0.03
"(0.00118, 0.00165]",79,79,0,0.00,32,32,0,0.00
"(0.00165, 0.00239]",78,78,0,0.00,28,28,0,0.00
"(0.00239, 0.00389]",78,78,0,0.00,32,32,0,0.00
"(0.00389, 0.00595]",79,79,0,0.00,39,35,4,0.10
"(0.00595, 0.0086]",78,78,0,0.00,21,20,1,0.05
"(0.0086, 0.0124]",78,78,0,0.00,24,20,4,0.17
"(0.0124, 0.018]",79,79,0,0.00,21,18,3,0.14
"(0.018, 0.0322]",78,78,0,0.00,34,32,2,0.06
"(0.0322, 0.504]",78,72,6,0.08,131,90,41,0.31
"(0.504, 0.953]",79,3,76,0.96,39,16,23,0.59
"(0.953, 0.972]",78,0,78,1.00,6,2,4,0.67
"(0.972, 0.997]",79,0,79,1.00,7,0,7,1.00

# Prescriptive Analysis

## Cufoff Selection

- Normally we use 0.5 as a cutoff to distinguish acceptance and non-acceptance
- But, we will use an optimal number that come from optimization to maximize our profit

**Proposal**
1. We assume that cost of campaign per customer is various with launched channel i.e.
- Online cost is 1000 THB (less effort)
- Offline cost (at shop) is 1500 THB (more effort, higher cost)

Then : We would randomly assigned channel of campaign with a proportion of **Online : Offline = 65 : 35**

2. We assume that we would get revenue of 3500 THB if the campaign is success

In [273]:
tmp.shape[0]

2240

In [258]:
import random

chn = ['Online']*int(tmp.shape[0]*0.65) + ['Offline']*int(tmp.shape[0]*0.35)
random.shuffle(chn)

In [259]:
tmp['Channel'] = chn

### Focused on Online Channel

In [268]:
threshold = [i/100 for i in range(0, 100, 2)]
cost = 1000
revenue = 3500

ts = []
ua_train_c = []
a_train_c = []
a_train_r = []
train_p = []

ua_test_c = []
a_test_c = []
a_test_r = []
test_p = []

for t in threshold:
    unaccept_train_cost = tmp[(tmp['type'] == 'y_train') & 
                              (tmp['Response'] == 0) & 
                              (tmp['predict_prob'] >= t) &
                              (tmp['Channel'] == "Online")].shape[0] * cost
    accept_train_cost = tmp[(tmp['type'] == 'y_train') & 
                            (tmp['Response'] == 1) & 
                            (tmp['predict_prob'] >= t) &
                            (tmp['Channel'] == "Online")].shape[0] * cost
    accept_train_rev = tmp[(tmp['type'] == 'y_train') & 
                           (tmp['Response'] == 1) & 
                           (tmp['predict_prob'] >= t) &
                            (tmp['Channel'] == "Online")].shape[0] * revenue
    train_profit = accept_train_rev - (accept_train_cost + unaccept_train_cost)
    
    unaccept_test_cost = tmp[(tmp['type'] == 'y_test') & 
                             (tmp['Response'] == 0) & 
                             (tmp['predict_prob'] >= t) &
                            (tmp['Channel'] == "Online")].shape[0] * cost
    accept_test_cost = tmp[(tmp['type'] == 'y_test') & 
                           (tmp['Response'] == 1) & 
                           (tmp['predict_prob'] >= t) &
                            (tmp['Channel'] == "Online")].shape[0] * cost
    accept_test_rev = tmp[(tmp['type'] == 'y_test') & 
                          (tmp['Response'] == 1) & 
                          (tmp['predict_prob'] >= t) &
                            (tmp['Channel'] == "Online")].shape[0] * revenue
    test_profit = accept_test_rev - (accept_test_cost + unaccept_test_cost)
    
    ts.append(t)
    ua_train_c.append(unaccept_train_cost)
    a_train_c.append(accept_train_cost)
    a_train_r.append(accept_train_rev)
    train_p.append(train_profit)
    
    ua_test_c.append(unaccept_test_cost)
    a_test_c.append(accept_test_cost)
    a_test_r.append(accept_test_rev)
    test_p.append(test_profit)
    
result = pd.DataFrame({
    'Threshold' : ts,
    'Train unaccepted cost' : ua_train_c,
    'Train accepted cost' : a_train_c,
    'Train accepted revenuc' : a_train_r,
    'Train Profit' : train_p,
    'Test unaccepted cost' : ua_test_c,
    'Test accepted cost' : a_test_c,
    'Test accepted revenuc' : a_test_r,
    'Test Profit' : test_p,
})

result.sort_values(by = 'Test Profit', ascending = False)

,Threshold,Train unaccepted cost,Train accepted cost,Train accepted revenuc,Train Profit,Test unaccepted cost,Test accepted cost,Test accepted revenuc,Test Profit
9,0.18,6000,155000,542500,381500,33000,34000,119000,52000
3,0.06,16000,155000,542500,371500,51000,41000,143500,51500
8,0.16,6000,155000,542500,381500,35000,34000,119000,50000
18,0.36,6000,155000,542500,381500,19000,27000,94500,48500
16,0.32,6000,155000,542500,381500,22000,28000,98000,48000
4,0.08,10000,155000,542500,377500,47000,38000,133000,48000
15,0.30,6000,155000,542500,381500,22000,28000,98000,48000
5,0.10,7000,155000,542500,380500,45000,37000,129500,47500
17,0.34,6000,155000,542500,381500,21000,27000,94500,46500
27,0.54,0,150000,525000,375000,9000,22000,77000,46000
14,0.28,6000,155000,542500,381500,24000,28000,98000,46000
2,0.04,38000,155000,542500,349500,64000,44000,154000,46000
10,0.20,6000,155000,542500,381500,32000,31000,108500,45500
19,0.38,6000,155000,542500,381500,17000,25000,87500,45500
20,0.40,5000,155000,542500,382500,15000,24000,84000,45000
29,0.58,0,149000,521500,372500,8000,21000,73500,44500
26,0.52,0,150000,525000,375000,11000,22000,77000,44000
25,0.50,1000,151000,528500,376500,11000,22000,77000,44000
24,0.48,4000,154000,539000,381000,11000,22000,77000,44000
7,0.14,6000,155000,542500,381500,41000,34000,119000,44000
28,0.56,0,150000,525000,375000,9000,21000,73500,43500
6,0.12,6000,155000,542500,381500,44000,35000,122500,43500
13,0.26,6000,155000,542500,381500,27000,28000,98000,43000
22,0.44,5000,155000,542500,382500,12000,22000,77000,43000
23,0.46,5000,155000,542500,382500,12000,22000,77000,43000
30,0.60,0,149000,521500,372500,8000,20000,70000,42000
21,0.42,5000,155000,542500,382500,14000,22000,77000,41000
1,0.02,93000,155000,542500,294500,80000,48000,168000,40000
12,0.24,6000,155000,542500,381500,31000,28000,98000,39000
11,0.22,6000,155000,542500,381500,31000,28000,98000,39000
31,0.62,0,149000,521500,372500,7000,18000,63000,38000
33,0.66,0,149000,521500,372500,6000,16000,56000,34000
32,0.64,0,149000,521500,372500,7000,16000,56000,33000
34,0.68,0,149000,521500,372500,5000,15000,52500,32500
35,0.70,0,149000,521500,372500,5000,14000,49000,30000
36,0.72,0,149000,521500,372500,5000,14000,49000,30000
37,0.74,0,149000,521500,372500,5000,14000,49000,30000
38,0.76,0,149000,521500,372500,5000,14000,49000,30000
39,0.78,0,149000,521500,372500,5000,14000,49000,30000
40,0.80,0,149000,521500,372500,5000,14000,49000,30000
41,0.82,0,149000,521500,372500,5000,14000,49000,30000
42,0.84,0,149000,521500,372500,5000,14000,49000,30000
43,0.86,0,149000,521500,372500,4000,13000,45500,28500
44,0.88,0,149000,521500,372500,3000,12000,42000,27000
45,0.90,0,149000,521500,372500,3000,12000,42000,27000
46,0.92,0,145000,507500,362500,2000,9000,31500,20500
47,0.94,0,132000,462000,330000,1000,8000,28000,19000
48,0.96,0,90000,315000,225000,1000,7000,24500,16500
49,0.98,0,31000,108500,77500,0,5000,17500,12500
0,0.00,886000,155000,542500,-498500,352000,63000,220500,-194500

In [297]:
t = tmp[(tmp['predict_prob'] >= 0.18) &
    (tmp['Channel'] == "Online")]
ev = round(t[t['Response'] == 1].shape[0]/t.shape[0]*100, 2)
cnt = tmp[tmp['Channel'] == 'Online'].shape[0]
print(f'Online count : {cnt}')
print(f'Count : {t.shape[0]}')
print(f'%Event Rate : {ev} %')

Online count : 1456
Count : 228
%Event Rate : 82.89 %

### Focused on Offline Channel

In [272]:
threshold = [i/100 for i in range(0, 100, 2)]
cost = 1500
revenue = 3500

ts = []
ua_train_c = []
a_train_c = []
a_train_r = []
train_p = []

ua_test_c = []
a_test_c = []
a_test_r = []
test_p = []

for t in threshold:
    unaccept_train_cost = tmp[(tmp['type'] == 'y_train') & 
                              (tmp['Response'] == 0) & 
                              (tmp['predict_prob'] >= t) &
                              (tmp['Channel'] == "Offline")].shape[0] * cost
    accept_train_cost = tmp[(tmp['type'] == 'y_train') & 
                            (tmp['Response'] == 1) & 
                            (tmp['predict_prob'] >= t) &
                            (tmp['Channel'] == "Offline")].shape[0] * cost
    accept_train_rev = tmp[(tmp['type'] == 'y_train') & 
                           (tmp['Response'] == 1) & 
                           (tmp['predict_prob'] >= t) &
                            (tmp['Channel'] == "Offline")].shape[0] * revenue
    train_profit = accept_train_rev - (accept_train_cost + unaccept_train_cost)
    
    unaccept_test_cost = tmp[(tmp['type'] == 'y_test') & 
                             (tmp['Response'] == 0) & 
                             (tmp['predict_prob'] >= t) &
                            (tmp['Channel'] == "Offline")].shape[0] * cost
    accept_test_cost = tmp[(tmp['type'] == 'y_test') & 
                           (tmp['Response'] == 1) & 
                           (tmp['predict_prob'] >= t) &
                            (tmp['Channel'] == "Offline")].shape[0] * cost
    accept_test_rev = tmp[(tmp['type'] == 'y_test') & 
                          (tmp['Response'] == 1) & 
                          (tmp['predict_prob'] >= t) &
                            (tmp['Channel'] == "Offline")].shape[0] * revenue
    test_profit = accept_test_rev - (accept_test_cost + unaccept_test_cost)
    
    ts.append(t)
    ua_train_c.append(unaccept_train_cost)
    a_train_c.append(accept_train_cost)
    a_train_r.append(accept_train_rev)
    train_p.append(train_profit)
    
    ua_test_c.append(unaccept_test_cost)
    a_test_c.append(accept_test_cost)
    a_test_r.append(accept_test_rev)
    test_p.append(test_profit)
    
result = pd.DataFrame({
    'Threshold' : ts,
    'Train unaccepted cost' : ua_train_c,
    'Train accepted cost' : a_train_c,
    'Train accepted revenuc' : a_train_r,
    'Train Profit' : train_p,
    'Test unaccepted cost' : ua_test_c,
    'Test accepted cost' : a_test_c,
    'Test accepted revenuc' : a_test_r,
    'Test Profit' : test_p,
})

result.sort_values(by = 'Test Profit', ascending = False)

,Threshold,Train unaccepted cost,Train accepted cost,Train accepted revenuc,Train Profit,Test unaccepted cost,Test accepted cost,Test accepted revenuc,Test Profit
28,0.56,1500,121500,283500,160500,9000,19500,45500,17000
29,0.58,0,121500,283500,162000,9000,19500,45500,17000
32,0.64,0,121500,283500,162000,7500,18000,42000,16500
31,0.62,0,121500,283500,162000,7500,18000,42000,16500
39,0.78,0,121500,283500,162000,6000,16500,38500,16000
38,0.76,0,121500,283500,162000,6000,16500,38500,16000
37,0.74,0,121500,283500,162000,6000,16500,38500,16000
36,0.72,0,121500,283500,162000,6000,16500,38500,16000
25,0.50,3000,123000,287000,161000,10500,19500,45500,15500
27,0.54,1500,121500,283500,160500,10500,19500,45500,15500
26,0.52,1500,121500,283500,160500,10500,19500,45500,15500
30,0.60,0,121500,283500,162000,9000,18000,42000,15000
33,0.66,0,121500,283500,162000,7500,16500,38500,14500
34,0.68,0,121500,283500,162000,7500,16500,38500,14500
35,0.70,0,121500,283500,162000,7500,16500,38500,14500
24,0.48,4500,124500,290500,161500,12000,19500,45500,14000
40,0.80,0,121500,283500,162000,6000,15000,35000,14000
41,0.82,0,120000,280000,160000,6000,15000,35000,14000
42,0.84,0,118500,276500,158000,6000,15000,35000,14000
45,0.90,0,118500,276500,158000,4500,13500,31500,13500
17,0.34,6000,126000,294000,162000,16500,22500,52500,13500
23,0.46,4500,124500,290500,161500,13500,19500,45500,12500
21,0.42,4500,124500,290500,161500,13500,19500,45500,12500
22,0.44,4500,124500,290500,161500,13500,19500,45500,12500
44,0.88,0,118500,276500,158000,6000,13500,31500,12000
43,0.86,0,118500,276500,158000,6000,13500,31500,12000
16,0.32,6000,126000,294000,162000,18000,22500,52500,12000
46,0.92,0,115500,269500,154000,4500,12000,28000,11500
18,0.36,6000,126000,294000,162000,16500,21000,49000,11500
20,0.40,4500,124500,290500,161500,15000,19500,45500,11000
19,0.38,6000,126000,294000,162000,15000,19500,45500,11000
15,0.30,6000,126000,294000,162000,19500,22500,52500,10500
6,0.12,6000,126000,294000,162000,36000,34500,80500,10000
5,0.10,6000,126000,294000,162000,39000,36000,84000,9000
48,0.96,0,57000,133000,76000,1500,7500,17500,8500
47,0.94,0,103500,241500,138000,1500,7500,17500,8500
3,0.06,6000,126000,294000,162000,48000,42000,98000,8000
8,0.16,6000,126000,294000,162000,33000,30000,70000,7000
4,0.08,6000,126000,294000,162000,45000,39000,91000,7000
7,0.14,6000,126000,294000,162000,36000,31500,73500,6000
12,0.24,6000,126000,294000,162000,28500,25500,59500,5500
14,0.28,6000,126000,294000,162000,27000,24000,56000,5000
9,0.18,6000,126000,294000,162000,33000,28500,66500,5000
11,0.22,6000,126000,294000,162000,30000,25500,59500,4000
13,0.26,6000,126000,294000,162000,28500,24000,56000,3500
10,0.20,6000,126000,294000,162000,33000,27000,63000,3000
49,0.98,0,27000,63000,36000,0,1500,3500,2000
2,0.04,15000,126000,294000,153000,55500,42000,98000,500
1,0.02,67500,126000,294000,100500,76500,45000,105000,-16500
0,0.00,664500,126000,294000,-496500,337500,48000,112000,-273500

In [298]:
t = tmp[(tmp['predict_prob'] >= 0.56) &
    (tmp['Channel'] == "Offline")]
ev = round(t[t['Response'] == 1].shape[0]/t.shape[0]*100, 2)
cnt = tmp[tmp['Channel'] == 'Offline'].shape[0]
print(f'Offline count : {cnt}')
print(f'Count : {t.shape[0]}')
print(f'%Event Rate : {ev} %')

Offline count : 784
Count : 101
%Event Rate : 93.07 %